* {
    font-family: 'Fredericka the Great', cursive;
}

body {
    background-color: #c0c0c0;
    color: #000;
}

h1 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.description {
    display: block;
    text-align: center;
}


.weather-display {
    text-align: center;
}

.location {
    font-size: 1.5rem;
}

.temp,
#condition {
    font-size: 1.5rem;
}

#temp-unit {
    cursor: pointer;
    color: rgb(173, 216, 230);
}

.section-forecast {
    display: flex;
    justify-content: space-around;
}

.overview {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: solid 3px #000;
    text-align: center;
}

.overview span {
    display: block;
}

#maxTemp {
    font-weight: 600;
}

#minTemp {
    font-weight: 500;
}