* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredericka the Great", cursive;
}

body {
    /* background-color: #c0c0c0;
    color: #000; */

    background-color: #000;
    color: #c0c0c0;
}

.section-description {
    text-align: center;
    margin-top: 75px;
}

.section-description h1 {
    margin-bottom: 48px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.section-current {
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    font-size: 22px;
}

.current-day {
    font-weight: bold;
}

.temperature-unit {
    cursor: pointer;
}