html {
    background: rgb(0, 0, 0);
    font-family: 'Fredericka the Great', cursive;
}

body {
    color: rgb(255, 255, 255)
}

h1 {
    text-align: center;
    margin-top: 125px;
    margin-bottom: 50px;
}

.weather-display {
    text-align: center;
}

.location {
    font-size: 24px;
}

.temp,
#condition {
    font-size: 22px;
}

#temp-unit {
    cursor: pointer;
    color: rgb(173, 216, 230);
}